<div class="calendars-index-wrapper height-max background-color">
  <%= month_calendar events: @calendars do |date, calendars| %>
    <%= date.day %>
        
    <% calendars.each do |calendar| %>
      <%= link_to calendar,class: 'black' do %>
        <p><span class="pen">🖋</span><span class="calendar-font-size"><%= calendar.work_content.truncate(8)%></span></p>
      <% end %>
    <% end %>
  <% end %>
  
  <div class="container-fluid padding-top-20 background-color">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <div class="targets calendar-link btn">
          <%= link_to calendar_targets_path,class: 'targets-btn block' do %>
            <div>目標時間を追加</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>